.weather-widget{
    position: absolute;
    top: 1vh;
    right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
.weather-info{
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    justify-content: flex-end;
}
.error{
    color: red;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}
/* 날씨 설명 (clear sky 등) */
.weather-desc {
    /* font-family: newFont; */
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 5px;
    text-transform: capitalize;
  }
  .weather-site {
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0.5vh 0;
    text-align: right;
    transform: translateY(-10px);
  }
  .weather-icon{
    width: 3rem;
    height: 3rem;
    max-width: 50px;
    max-height: 50px;
  }
  .weather-temp{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }