:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background : #222;
  color: white;
  text-align: center;
  height: 100vh; /* viewportheight ì˜ 100%*/;
  display: flex;
  justify-content: center;
  align-items: center;

}
